/*
* Name           : Modern
* Author         : Encoral Digital Solutions Sdn Bhd
* Version        : 2.0
*/


/*--GENERAL--*/

body {
    font-family: "Verdana", Tahoma, sans-serif !important;
    font-size: 8pt;
    background-color: #666666;
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
}

a {
    color: #3498DB;
}

#pageProperties a {
    color: white;
}

select {
    border: 1px solid #B9B9B9;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: 10pt;
    padding: 8px;
}


/*--HEADER--*/

#header {
    background-color: #3B6C8E;
    height: 50px !important;
    /*overwrite layout properties*/
    border-bottom: 4px solid #225C7C;
}

#hide-sidebar,
#hide-topbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 16px;
    line-height: 54px;
    height: 50px;
    background: #7C1ACA url(images/hide_sidebar_icon.png) no-repeat center center;
    cursor: pointer;
    border-bottom: 4px solid #3B7692;
}

#logo {
    background: url(images/logo.png) no-repeat;
    width: 100px;
    height: 36px;
    position: absolute;
    top: 8px;
    left: 43px;
}

.topMenuDiv {
    text-align: center;
    position: absolute;
    background-color: #4681AA;
    height: 38px;
    padding: 6px 2px;
    top: 0;
    border-bottom: 4px solid #3B7692;
}

.topIcon {
    background-image: url(images/top_icons.png?a);
    background-repeat: no-repeat;
    width: 37px;
    height: 38px;
}

#topLogoutLinkIcon {
    background-position: -74px 0px;
}

#topHomeLinkIcon {
    background-position: 0px 0px;
}

#topDateIcon {
    background-position: -37px 0px;
    float: right;
}

#topLogoutLink {
    right: 0;
    background-position: center right;
}

#topHomeLink {
    right: 57px;
    border-right: 1px solid #3B7692;
}

#topTime {
    right: 115px;
    border-right: 1px solid #3B7692;
}


/*--SIDEBAR--*/

#sidebar {
    max-width: 250px;
    background-color: #666666;
    margin-left: 10px;
}


/*Profile Block*/

#profileBlock {
    padding: 8px;
    background-color: #696969;
    background: url(images/maxresdefault.jpg?b);
    background-size: cover;
    float: left;
    width: 234px;
    height: 160px;
    color: #FCFCFC;
}

.profileTextBlock {
    position: absolute;
    top: 130px;
    text-align: center;
    width: 232px;
    color: white;
    font-weight: bold;
}

#sidebar .profileImageBlock {
    float: left;
    padding: 5px;
    background-color: #FFF;
    border: 1px solid #C2C2C2;
    margin-right: 5px;
}


/*search*/

#sidebar .searchMenuBlock {
    clear: both;
    /*IE fix*/
    padding: 9px;
    background-color: #7C1ACA;
    text-align: center;
    border-bottom: 1px solid #bdbdbd;
}

#sidebar .searchMenuBlock input {
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 209px;
    background: #ffffff url(images/search-icon.png) no-repeat 206px center;
    font-family: inherit;
    font-size: 11px;
    border-right: 3px solid #ffffff;
}

#menu_suggestions {
    max-width: 400px !important;
    margin-left: 0 !important;
    border: 3px solid #B6BABE;
    box-shadow: #888 0px 3px 4px !important;
    -webkit-box-shadow: #888 0px 3px 4px !important;
    -moz-box-shadow: #888 0px 3px 4px !important;
    z-index: 99;
}

#menu_suggestions table {
    width: 100%;
    text-align: left !important;
}

#menu_suggestions table th,
#menu_suggestions table td {
    padding: 5px;
}

#menu_suggestions table th.listingHead {
    background-color: #E7E7E7;
}

#menu_suggestions a {
    font-size: 11px;
    text-decoration: none;
    color: #333;
    display: block;
    border-bottom: 1px dotted #DADADA;
}

#menu_suggestions a:hover {
    color: #FFF;
    background-color: #428BCE;
}


/*side menu list*/

ul.sideMenuList {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

ul.sideMenuList li a {
    display: block;
    padding: 15px;
    color: #7C1ACA;
    text-decoration: none;
}

ul.sideMenuList li a.noChild {
    background-image: url(images/menu_file.svg?b);
    background-color: white;
}

a.hasChild,
a.noChild {
    background-size: 36px 36px !important;
}

ul.sideMenuList li a.noChild.menuActive {
    border: 1px solid #FA4115;
}

ul.sideMenuList li a.hasChild {
    font-weight: bold;
    background-image: url(images/menu_folder.svg?b);
    background-color: white;
}

ul.sideMenuList.menuLevel1 > li > a.hasChild {
    border-bottom: 1px solid #BDC3C7;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul.sideMenuList.menuLevel1 {
    max-width: 250px;
}

ul.sideMenuList.menuLevel1 a:hover {
    text-decoration: none;
}

ul.sideMenuList li a.noChild:hover {
    text-decoration: underline;
}


/* side menu icons*/

ul.sideMenuList.menuLevel1 li > a {
    padding-left: 30px;
    background-position: 8px 7px;
}

ul.sideMenuList.menuLevel2 li > a {
    padding-left: 51px;
    background-position: 30px 7px;
}

ul.sideMenuList.menuLevel3 li > a {
    padding-left: 71px;
    background-position: 50px 7px;
}

ul.sideMenuList.menuLevel4 li > a {
    padding-left: 91px;
    background-position: 70px 7px;
}

ul.sideMenuList.menuLevel5 li > a {
    padding-left: 111px;
    background-position: 90px 7px;
}

ul.sideMenuList.menuLevel6 li > a {
    padding-left: 131px;
    background-position: 110px 7px;
}

ul.sideMenuList.menuLevel7 li > a {
    padding-left: 151px;
    background-position: 130px 7px;
}

ul.sideMenuList.menuLevel8 li > a {
    padding-left: 171px;
    background-position: 150px 7px;
}

ul.sideMenuList.menuLevel9 li > a {
    padding-left: 191px;
    background-position: 170px 7px;
}

ul.sideMenuList.menuLevel10 li > a {
    padding-left: 211px;
    background-position: 190px 7px;
}


/*--TOPMENU--*/

#topMenuBar {
    background-color: #DFDFDF;
    height: 35px;
}


/*search*/

#topMenuBar .searchMenuBlock {
    float: right;
    padding: 4px;
    position: relative;
}

#topMenuBar .searchMenuBlock input {
    padding: 5px;
    font-family: inherit;
    background: #ffffff url(images/search-icon.png) no-repeat right center;
    border: none;
    width: 200px;
    font-size: 11px;
    border-right: 3px solid #ffffff;
}

#topMenuBar .searchMenuBlock #menu_suggestions {
    height: 300px;
    width: 250px;
}


/*profile*/

#topMenuBar #profileName {
    height: 35px;
    line-height: 35px;
    padding: 0 10px 0 26px;
    float: right;
    background: #CACACA url(images/usericon.png) no-repeat 5px center;
    cursor: pointer;
}

#topMenuBar #profileBlock {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 89px;
}

ul.topMenuList ul {
    display: none;
}

ul.topMenuList li:hover > ul {
    display: block;
}

ul.topMenuList ul {
    position: absolute;
    left: -1px;
    top: 98%;
    background-color: #DFDFDF;
    z-index: 1000;
    border: 1px solid #b4b4b4;
    box-shadow: 0px 0px 2px #b4b4b4;
}

ul.topMenuList ul ul {
    position: absolute;
    left: 98%;
    top: 0;
}

ul.topMenuList,
ul.topMenuList ul {
    margin: 0;
    list-style: none;
    padding: 0;
    float: left;
}

ul.topMenuList ul {
    min-width: 180px;
}

ul.topMenuList li {
    display: block;
    float: left;
}

ul.topMenuList.menuLevel1 > li > a {
    border-right: 1px solid #CACACA;
    line-height: 35px;
    padding: 11px 8px 11px 28px;
}

ul.topMenuList li a {
    color: #333333;
    text-decoration: none;
    white-space: nowrap;
    padding: 7px 8px 7px 28px;
}

ul.topMenuList ul li {
    float: none;
    /*border-bottom: 1px dotted #33618B;*/
}

ul.topMenuList li:hover {
    position: relative;
}

ul.topMenuList li a:hover {
    position: relative;
    background-color: #D3D3D3;
}

ul.topMenuList ul li a {
    display: block;
}


/* top menu icons*/

ul.topMenuList.menuLevel1 > li > a {
    background-position: 8px 9px;
}

ul.topMenuList ul a {
    background-position: 8px 6px;
}


/*--CONTENT--*/

#content.withSideBarLeft {
    margin-left: 250px;
    /*    padding: 15px;*/
}

#content.withSideBarRight {
    margin-right: 250px;
    padding: 15px;
}

#content.withTopMenu {
    padding: 15px;
}

#content.pageBorderEnabled {
    background-color: #ECF1F5;
    border: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 1);
}

#content.withSideBarLeft.pageBorderEnabled {
    margin: 10px 10px 10px 270px;
}

#content.withSideBarRight.pageBorderEnabled {
    margin: 10px 260px 10px 10px;
}

#content.withTopMenu.pageBorderEnabled {
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

#breadcrumbs {
    background-color: #E6E6E6;
    padding: 7px;
    text-shadow: 1px 1px 1px #FFF;
    color: #6B6B6B;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

#sideLeftContent {
    width: 235px;
    margin: 10px auto 0 auto;
    overflow: auto;
}

#content > h1 {
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 25px;
}

#content .tableContent,
#sideLeftContent .tableContent {
    width: 100%;
    border: 1px solid #c2c2c2 !important;
    background-color: #ffffff;
}

#content .tableContent th,
#sideLeftContent .tableContent th {
    background-color: #7C1ACA;
    padding: 8px;
    text-align: left;
    color: white;
    font-size: 12px;
}

#content .tableContent th.listingHead,
#sideLeftContent .tableContent th.listingHead {
    background-color: #8c04f9;
    border: 1px solid #c2c2c2;
}

#content .tableContent td,
#sideLeftContent .tableContent td {
    padding: 4px;
    border: 1px solid #cccccc;
}

#content .tableContent td.inputLabel {
    /*background-color:#F7F7F7;
	font-weight:bold;
	*/
    max-width: 160px;
    width: 150px;
}

#content .tab {
    /*border: 1px solid #215B88 !important;*/
}

#content .tab .componentArea td {
    padding: 4px;
    color: #000;
    background-color: #ffffff;
}

#content .tab td.tabHead {
    /*border: 1px solid #cccccc;*/
    border-bottom: none;
    background-color: #4681AA;
    padding: 8px 17px 8px 17px;
    color: #fff;
    /*border-top:5px solid #ffffff;*/
    border-radius: 5px 5px 0px 0px;
}

#content .tab .componentArea {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 10px;
    color: #fff;
}

#content .tab td.active {
    /*border-top:5px solid #4681AA;*/
    background-color: #7DAED1;
}

.contentButtonFooter {
    text-align: right;
}

#content iframe.sysadmin {
    border: 1px solid #CCCCCC;
}


/*--OTHERS--*/

.inputButton {
    border: none;
    background-color: #7C1ACA;
    padding: 10px;
    color: #FFF;
    font-family: inherit;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

.inputButton:hover {
    background-color: #FA4115;
    color: white;
}

#content.lov {
    position: static !important;
}

.notification {
    position: fixed;
    right: 15px;
}

.notificationInfo {
    padding: 10px;
    background-color: #C9FFC7;
    border-bottom: 2px solid #A6D8A1;
}

.notificationError {
    padding: 10px;
    background-color: #FFC7C7;
    border-bottom: 2px solid #DA9A9A;
}

#bottom {
    display: none;
}

#footer {
    width: 100%;
    text-align: center;
    color: #8D8D8D;
    margin: 10px 0;
    font-size: 10px;
    padding-bottom: 20px;
}

#pageProperties {
    padding: 5px;
    text-align: right;
    border-bottom: 0;
    background: url(images/pageProperties.png) no-repeat right center;
    color: #666666;
    position: relative;
}

#hide-header {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

#languageSelector {
    display: inline-block;
    padding: 0 10px;
    color: white;
}

#languageName {
    font-size: 12px;
    margin-right: 5px;
}

#languageName:hover {
    cursor: pointer;
    text-decoration: underline;
}

#languageSelector img {
    vertical-align: middle;
}

#zoomSelector {
    display: inline-block;
    padding: 0 10px;
}

.listingContent .table_icon {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}


/*----------------------------------For DASHBOARD.PHP-----------------------------------*/

.row {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.row > div > h1 {
    background-color: #3938BD;
    color: white;
    left: -10px;
    padding: 10px;
    position: relative;
    top: -24px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.one_column,
.two_column,
.three_column {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 10px;
    float: left;
    background: white;
    margin-right: 15px;
    text-align: center;
}

.one_column {
    width: calc(100% - 20px);
}

.two_column {
    width: calc(50% - 28px);
}

.three_column {
    width: calc(33.3333% - 34.995px);
}

.two_column:last-child,
.three_column:last-child {
    margin-right: 0;
}


/*----------------------------------General Customization-----------------------------------*/

html,
body {
    font-family: Arial;
    font-size: 14px;
}

#logo {
    background: url(images/logo-header.svg) no-repeat;
    height: 130px;
    width: 500px;
    background-size: auto 100%;
    top: -36px;
}

#header {
    background: url(images/tamanbg.PNG) no-repeat center center;
    background-size: 100% auto;
    border-bottom: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 100;
}

#header:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, .87);
}

#hide-sidebar,
#hide-topbar {
    background-color: #7C1ACA;
    border-bottom: 0;
}

#topTime,
#topHomeLink {
    border-right: 0;
}

#topTime div {
    color: #666666 !important;
}

.topMenuDiv {
    border-bottom: 0;
    background-color: transparent;
}

#profileBlock {
    background-color: white;
    color: #666666;
    position: relative;
}

#sidebar .profileImageBlock {
    position: absolute;
    left: 120px;
    top: 10px;
    background-color: transparent;
    border: 0;
}

#sidebar .profileImageBlock img {
    width: 100px;
    max-width: 100px;
    border-radius: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
}

#sidebar,
#pageProperties {
    margin-top: 50px !important;
}

bak_canvas {
    width: 100%;
}

.row h1 {
    font-size: 18px;
}

#sideMenuLeft {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 1);
    margin-top: -14px;
    height: calc(84vh + 5px);
    background-color: #fff;
}

[name=filter_parent],
[name=filter_title] {
    width: calc(100% - 12px) !important;
    border-radius: 4px;
    border: 0;
    margin-top: 2px;
    padding: 2px 6px;
}

ul.sideMenuList.menuLevel1 li > a {
    background-position: 0px 5px;
    padding-left: 35px;
}

ul.sideMenuList.menuLevel2 li > a {
    background-position: 15px 5px;
    padding-left: 50px;
}

ul.sideMenuList.menuLevel3 li > a {
    background-position: 30px 5px;
    padding-left: 65px;
}

ul.sideMenuList.menuLevel4 li > a {
    background-position: 45px 5px;
    padding-left: 80px;
}


/*----------------------------------Legend-----------------------------------*/

.pieLegend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    text-align: left;
}

[name^=item_availability] {
    display: none;
}